Screen { align: center middle; background: $background; }

Switch {
    height: auto;
    width: auto;
    border: green;
}

.label {
    height: auto;
    width: auto;
    border: deepskyblue;
}

.container {
    height: auto;
    width: auto;
}

#main-menu { width: 45; padding: 2; border: tall $accent; background: $surface; }
#main-title { width: 100%; text-align: center; text-style: bold; margin-bottom: 2; color: $secondary; }
Button { width: 100%; margin-bottom: 1; }

#create-dialog, #equip-dialog { width: 60; padding: 2; border: tall $primary; background: $surface; }
#title { width: 100%; text-align: center; text-style: bold; margin-bottom: 1; color: $warning; }

#attr-inputs > Input { width: 1fr; margin-right: 1; }

#arena-sidebar { width: 45; padding: 1; border-right: vkey $accent; background: $surface; height: 100%; }
#arena-log-container { width: 1fr; padding: 1; height: 100%; }
#arena-chars-grids { width: 100%;  dock: top; height: 1fr; display: block; grid-columns: 1fr 1fr; }
#char-table { height: 1fr; margin-bottom: 1; border: round $primary; }

#side-panel {
    width: 30;
    background: $surface;
    padding: 1;
    border-right: vkey $accent;
}

#table-container {
    width: 1fr;
    padding: 1;
}

DataTable {
    height: 1fr;
    border: tall $primary;
}

#edit-dialog {
    width: 50;
    padding: 2;
    border: thick $success;
    background: $surface;
}

/* --- ETILOS DO EDITOR DE MAPA --- */
/* --- BARRA SUPERIOR (NOSSO HEADER CUSTOMIZADO) --- */
#top-menu {
    layout: horizontal;
    height: 4;
    dock: top;
    /* 3 linhas para os botões + 1 linha para a borda inferior */
    border-bottom: solid green;
    padding: 0 1;
}

#top-menu Button {
    width: auto;
    /* O botão cresce o suficiente para caber o nome */
    height: 3;
    /* Altura padrão e perfeita para botões no Textual */
    margin-right: 1;
    /* Apenas uma margem por fora, sem padding por dentro */
    min-width: 10;
    /* Garante que não fiquem pequenos demais */
}

/* O botão de fechar fica alinhado à extrema direita */
#btn-fechar {
    dock: right;
    margin-right: 1;
    /* padding: 1; */
    width: 10%;
    height: 10%;
}

/* --- RESTANTE DO LAYOUT --- */
#main-container {
    layout: horizontal;
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 25%;
    height: 100%;
    border-right: solid green;
}

#paleta-container {
    height: 65%;
    overflow: auto;
    border-bottom: dashed green;
    padding: 0;
}

#arvore-container {
    height: 35%;
    overflow: auto;
    padding: 1;
}

#map-area {
    width: 75%;
    height: 100%;
    padding: 1;
    overflow: auto;
    align: center middle;
    /* MÁGICA: Cria barras de rolagem se o mapa crescer! */
    /* Remova a linha 'align: center middle' se existir, para o mapa começar no topo/esquerda */
}

#sec-map-area {
    width: 85%;
    height: 95%;
    padding: 1;
    overflow: auto;
    align: center middle;
    /* MÁGICA: Cria barras de rolagem se o mapa crescer! */
    /* Remova a linha 'align: center middle' se existir, para o mapa começar no topo/esquerda */
}

#mapa-view {
    width: auto;
    overflow: auto;
    /* Permite que o componente cresça além do tamanho da tela sem quebrar as linhas */
    height: auto;
}

#lbl-tile-atual {
    text-style: bold;
    color: yellow;
    margin-bottom: 1;
}

.grade-paleta {
    layout: grid;
    grid-size: 6 10;
    /* 5 colunas de botões */
    /*grid-gutter: 1;*/
    /* Espaço entre os botões */
}

.btn-paleta {
    min-width: 1;
    height: 1;
    border: none;
    padding: 0;
}

NovoMapaFormScreen {
    align: center middle;
    background: $background 50%;
}

#form-caixa {
    width: 50;
    /* Aumentei um pouco a largura para caberem mais campos */
    height: auto;
    padding: 1 2;
    background: $surface;
    border: solid green;
}

/* Organização dos campos lado a lado para economizar espaço vertical */
.linha-dupla {
    layout: horizontal;
    height: auto;
}

.linha-dupla Input {
    width: 1fr;
    /* Divide o espaço igualmente */
}

#form-botoes {
    layout: horizontal;
    align: center middle;
    margin-top: 1;
    height: auto;
    width: 100%;
}

#form-botoes Button {
    margin: 0 1;
    width: auto;
    height: 3;
    margin-right: 1;
    min-width: 10;
    /* Garante que não fiquem pequenos demais */
}

/* As caixas de configuração dinâmicas */
.caixa-config {
    height: auto;
    border: round grey;
    padding: 1;
    margin-top: 1;
}

/*Formulário de Propriedades*/
PropriedadesFormScreen {
    align: center middle;
    background: $background 50%;
}

#prop-caixa {
    width: 60;
    height: 80%;
    padding: 1 2;
    background: $surface;
    border: solid blue;
}

#prop-botoes {
    layout: horizontal;
    align: center middle;
    margin-top: 1;
    height: auto;
    width: 100%;
}

#prop-botoes Button {
    margin: 0 1;
    width: auto;
    height: 3;
    margin-right: 1;
    min-width: 10;
}

ConfirmacaoSalvarScreen {
    align: center middle;
    background: $background 50%;
}

#conf-caixa {
    width: 40;
    height: auto;
    padding: 1 2;
    background: $surface;
    border: solid yellow;
}

#conf-botoes {
    layout: horizontal;
    align: center middle;
    margin-top: 1;
    height: auto;
    width: 100%;
}

#conf-botoes Button {
    margin: 0 1;
    width: auto;
    height: 3;
    margin-right: 1;
    min-width: 10;
}

#ferramentas-hist {
    height: auto;
    width: auto;
    margin-bottom: 1;
}

.btn-pequeno {
    margin: 0 1;
    width: auto;
    height: 1;
    border: none;
    min-width: 5;
    margin-right: 1;
}

MenuAcoesScreen {
    align: center middle;
    background: $background 50%;
}

#menu-caixa {
    width: auto;
    height: auto;
    padding: 1 2;
    background: $surface;
    border: solid green;
}

#menu-caixa Button {
    margin: 0 1;
    padding: 0 1;
    width: auto;
    height: 3;
    min-width: 5;
    margin-right: 1;
}

ArquivoCSVScreen {
    align: center middle;
    background: $background 50%;
}

#csv-caixa {
    width: auto;
    height: auto;
    padding: 1 2;
    background: $surface;
    border: solid blue;
}

#csv-botoes {
    layout: horizontal;
    align: center middle;
    margin-top: 1;
    height: auto;
    width: 100%;
}

#csv-botoes Button {
    margin: 0 1;
    width: auto;
    height: 3;
    min-width: 5;
    margin-right: 1;
}

PropriedadesEventoFormScreen {
    align: center middle;
    background: $background 50%;
}

#evt-caixa {
    overflow: auto;
    width: 50;
    height: auto;
    padding: 1 2;
    background: $surface;
    border: solid rgb(255, 165, 0);
    /* Laranja para destacar que é um evento */
}

.campo-rotulo {
    margin-top: 1;
    text-style: bold;
}

#secao-condicoes{
    overflow: auto;
}

#evt-botoes {
    layout: horizontal;
    align: center middle;
    margin-top: 2;
    height: 1;
    border: none;
    width: 100%;
}

#evt-botoes Button {
    margin: 0 1;
    width: auto;
    height: 1;
    border: none;
    min-width: 5;
    margin-right: 1;
}

#evt-caixa-full {
    overflow: auto;
    width: 90;
    height: 90%;
    padding: 1 2;
    background: $surface;
    border: solid rgb(255, 165, 0);
}

#add-cmd-caixa {
    width: 60;
    height: auto;
    padding: 1 2;
    background: $surface;
    border: solid cyan;
}

#acoes-cmd-caixa {
    width: 40;
    height: auto;
    padding: 1 2;
    background: $surface;
    border: solid red;
}

GamePlayScreen {
    background: #0c0c0c;
    align: center middle;
    
}


#mapa-fundo {
    width: 100%;
    height: 100%;
    border: thick #228B22;
    align: center middle;
    content-align: center middle;
    position: absolute;

    /* Garante o contexto de posicionamento para os filhos */
    /* As entidades dinâmicas flutuam de forma absoluta sobre o ecrã */
    WidgetEntidade {
        position: relative;
        width: 2;
        height: 1;
        content-align: left middle;
        /* Garante que o emoji fique sempre ancorado à esquerda da caixa */
        background: transparent;
    }
}

