/* =========================================
   LAYOUT DA TELA DE JOGO (GAME PLAY)
   ========================================= */
#game-layout {
    layout: grid;
    grid-size: 2 3;
    /* 2 colunas, 3 linhas */
    grid-columns: 4fr 1fr;
    /* O mapa ocupa 3/4 da tela, os painéis 1/4 */
    grid-rows: 1fr 2fr 1fr;
    /* Status menor, Itens maior, Interação no rodapé */
    width: 100%;
    height: 100%;
}

/* A "Janela" que fica presa na grelha e ativa o scroll */
#mapa-viewport {
    row-span: 2;
    border: solid green;
    background: $surface;
    overflow: auto;
    /* Cria as barras de rolagem vertical e horizontal */
    width: 100%;
    height: 100%;
}

/* O "Quadro" com o texto que cresce infinitamente lá dentro */
#tela-mapa {
    width: auto;
    /* Permite crescer na horizontal sem quebrar linha */
    height: auto;
    /* Permite crescer na vertical */
    min-width: 100%;
    min-height: 100%;
}


#tela-status {
    border: solid blue;
    background: $surface;
    padding: 0 1;
}

#tela-itens {
    border: solid yellow;
    background: $surface;
    padding: 0 1;
}



#area-interacao-container {
    column-span: 2;
    layout: vertical;
    border: solid white;
    background: $panel;
    height: 100%;
    width: 100%;
}

#area-interacao {
    column-span: 2;
    overflow: auto;
    /* Estica de ponta a ponta no rodapé */
    border: solid white;
    background: $panel;
    padding: 0 1;
    height: 100%;
}

#terminal-prompt {
    height: 1fr;
    width: 100%;
    background: $surface;
    border: none;
    color: green;
    /* Prompt verde estilo hacker/terminal retro */
}